<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <script
            src="https://kit.fontawesome.com/3264d39625.js"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"
        ></script>
        <!-- Tagify 해시태그 -->
        <script src="https://unpkg.com/@yaireo/tagify"></script>
        <script src="https://unpkg.com/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
        <link
            href="https://unpkg.com/@yaireo/tagify/dist/tagify.css"
            rel="stylesheet"
            type="text/css"
        />
    </head>
    <link rel="stylesheet" href="style.css" />
    <body>
        <div id="mainPageTop">
            <div id="mainLogo"><a href="/">이건 메인로고</a></div>
            <ul id="mainPageNav">
                <li><a href="/community_hub">COMMUNITY</a></li>
                <li><a href="/minigame">MINI GAME</a></li>
            </ul>

            <ul id="mainPageLogo">
                <li>
                    <a href="https://github.com/TeTedo/KeyboardWarrior.git"
                        ><img
                            class="mainPageLogo_githubLogo"
                            src="http://rajlab.org/icons/github_white.png"
                            alt="github"
                    /></a>
                </li>
                <li>
                    <a
                        href="https://www.notion.so/Keyboard-Warrior-888a144aa79f437e8f726910c42617a8"
                        ><img
                            class="mainPageLogo_notionLogo"
                            src="https://upload.wikimedia.org/wikipedia/commons/4/45/Notion_app_logo.png"
                            alt="notion"
                    /></a>
                </li>
            </ul>
        </div>

        <!-- <div id="mainPageSearch">
      <div id="mainPageSearch_whole">
        <input type="text" id="mainPageSearch_searchBar" />
        <span>검색</span>
      </div>
    </div> -->
        <!-- 여기까지 탑 공통 부분 -->

        <!-- 사이드바 -->

        <div id="sideBar">
            <div id="sideBar_top">
                <div id="sideBar_top_sideBarBtn">
                    <i class="fa-solid fa-arrow-left-long"></i>
                </div>
                <div id="sideBar_top_up">
                    <ul>
                        <li>팔로워</li>
                        <li>123</li>
                    </ul>
                    <ul>
                        <li>팔로잉</li>
                        <li>111</li>
                    </ul>
                </div>
                <div id="sideBar_top_down">
                    <div id="sideBar_top_down_left">
                        <div><%= data.userIdForProfile %></div>
                        <div><%= data.nickNameForProfile %></div>
                    </div>
                    <div id="sideBar_top_down_right">
                        <div>
                            <a href="/join/modify/enterance"
                                ><i class="fa-solid fa-gear"></i
                            ></a>
                            <a href=""><i class="fa-solid fa-bell"></i></a>
                            <a href=""><i class="fa-solid fa-comments"></i></a>
                            <a href="/logout"
                                ><i class="fa-solid fa-right-from-bracket"></i
                            ></a>
                        </div>
                        <a id="writBtn" href="#">글쓰기</a>
                    </div>
                </div>
                <div id="sideBar_top_profileImg">
                    <img src="../<%= data.imageForProfile %>" alt="" />
                </div>
            </div>
        </div>
        <div class="sideBarOpenBtn">
            <i class="fa-solid fa-arrow-right-long"></i>
        </div>

        <!-- 포스팅 시작 -->
        <div id="communityTitle">
            <div id="communityTitle_text">
                <span><%= data.title %></span>
            </div>
        </div>
        <div id="contents">
            <div id="contentsWrap">
                <div id="mainContent">
                    <div id="mainContentWrap">
                        <% data.postData.forEach(post=>{%>

                        <div
                            class="mainPost"
                            data-hash_tag="<%= post.hashtag_values%>"
                            data-post_id="<%= post.id%>"
                        >
                            <div id="mainPost_top">
                                <div id="mainPost_top_profileimg">
                                    <img
                                        src="../<%= post.User.profile_img %>"
                                    />
                                </div>
                                <div id="mainPost_top_userInfo">
                                    <div id="mainPost_top_userInfo_nickName">
                                        <%= post.User.nick_name %>
                                    </div>
                                    <div id="mainPost_top_userInfo_follwer">
                                        팔로워숫자
                                    </div>
                                </div>
                                <div id="mainPost_top_follwingBtn">
                                    <i class="fa-solid fa-user-plus"></i>
                                    <i class="fa-solid fa-user-check"></i>
                                    <i class="fa-solid fa-message"></i>
                                    <a href="">수정하기</a>
                                </div>
                            </div>
                            <div id="mainPost_middle"><%=post.text%></div>
                            <div id="mainPost_bottom">
                                <div id="hashTag">
                                    <span>#</span>
                                    <%post.hashtag_values.forEach(hashtag=>{%>
                                    <span id="hashTag_Wrap">
                                        <span
                                            class="hashTag_Box"
                                            onclick="update(this)"
                                        >
                                            <%=hashtag%>
                                        </span>
                                    </span>
                                    <%})%>
                                </div>
                                <div id="mainPost_bottom_createdTime">
                                    <%=post.createdAt%>
                                </div>
                                <div id="mainPost_bottom_sub">
                                    <i class="fa-solid fa-heart"></i>좋아요갯수
                                    <i class="fa-solid fa-comment"></i>댓글갯수
                                </div>
                            </div>
                        </div>
                        <%})%>
                    </div>
                </div>
                <!-- 여기까지 메인포스팅 슬라이드 -->
                <div id="scrollHelper">
                    <div id="scrollHelper_contents">
                        <div id="scrollHelper_icon">
                            <i class="fa-solid fa-arrows-left-right"></i>
                        </div>
                        <div id="scrollHelper_text">SCROLL UP!</div>
                    </div>
                </div>
            </div>
        </div>
        <span id="searchBar">
            <label for="">검색</label>
            <input type="text" list="tag_list" id="searchBar_input" />
            <datalist id="tag_list">
                <!-- <option value="잡담"></option>
                <option value="거래"></option>
                <option value="공략"></option> -->
            </datalist>
        </span>
    </body>
    <script src="community.js"></script>
    <script>
        // 글쓰기버튼
        const gameName = "<%= data.gameName %>";
        writBtn.onclick = () => {
            location.href = `/posting/${gameName}`;
        };

        // 포스트 클릭시 상세페이지 이동
        const mainPost = document.querySelectorAll(".mainPost");
        // const mainPost = Array.from(document.querySelectorAll(".mainPost"));
        mainPost.forEach(post => {
            const postId = post.dataset.post_id;
            post.querySelector("#mainPost_middle").onclick = () => {
                location.href = `/post/${gameName}/${postId}`;
            };
        });

        // 데이터 가공 및 초기화
        let postData;
        function uploadData() {
            postData = "<%=JSON.stringify(data.postData)%>"
                .replaceAll("&#34;", '"')
                .replaceAll("&lt;", "<")
                .replaceAll("&gt;", ">")
                .replaceAll('""', '"');
            postData = JSON.parse(postData);
        }
        uploadData();

        // 검색창 드롭리스트에 해시태그 추가
        let hashtagArr = [];
        postData.forEach(data => {
            data.hashtag_values.forEach(hashtag => {
                if (!hashtagArr.includes(hashtag)) {
                    hashtagArr.push(hashtag);
                }
            });
        });
        hashtagArr.forEach(hashtag => {
            tag_list.innerHTML += `<option value=${hashtag}></option>`;
        });

        // 수정하기 버튼 생성
        function makeModifyBtn() {
            const mainPostsArr = document.querySelectorAll(".mainPost");
            mainPostsArr.forEach(post => {
                if (
                    "<%= data.nickNameForProfile %>" ==
                    post.querySelector("#mainPost_top_userInfo_nickName")
                        .innerText
                ) {
                    post.querySelectorAll(
                        "#mainPost_top_follwingBtn > i"
                    ).forEach(elem => {
                        elem.style.display = "none";
                    });
                    post.querySelector(
                        "#mainPost_top_follwingBtn > a"
                    ).style.display = "flex";
                }
            });
        }
        window.onload = () => {
            makeModifyBtn();
        };
    </script>
    <!-- <script>
        const arr = ["happy", "hi"];
        const jsonArr = JSON.stringify(arr);
        const stringArr = '["happy", "hi"]';

        console.log(JSON.parse(jsonArr));
        console.log(JSON.parse(stringArr));
    </script> -->
</html>
