<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  </head>
  <body>
    <div id="mainPageTop">
      <div id="mainLogo"><a href="/">이건 메인로고</a></div>
      <ul id="mainPageNav">
        <li><a href="">COMMUNITY</a></li>
        <li><a href="">MINI GAME</a></li>
      </ul>
      <ul id="mainPageSign">
        <li><a href="/join">회원가입</a></li>
        <li><a href="/login">로그인</a></li>
      </ul>
      <ul id="mainPageLogo">
        <li>
          <a href="https://github.com/TeTedo/KeyboardWarrior.git"
            ><img
              class="mainPageLogo_githubLogo"
              src="http://rajlab.org/icons/github_white.png"
              alt="github"
          /></a>
        </li>
        <li>
          <a
            href="https://www.notion.so/Keyboard-Warrior-888a144aa79f437e8f726910c42617a8"
            ><img
              class="mainPageLogo_notionLogo"
              src="https://upload.wikimedia.org/wikipedia/commons/4/45/Notion_app_logo.png"
              alt="notion"
          /></a>
        </li>
      </ul>
    </div>
    <form action="/login" method="post">
      <div id="loginSector">
        <div id="loginSector_input">
          <div id="loginSector_input_id">
            <div>ID</div>
            <input type="text" name="user_id" />
          </div>
          <div id="loginSector_input_pw">
            <div>PW</div>
            <input type="password" name="user_pw" />
          </div>
        </div>
        <button id="loginSector_loginBtn">로그인</button>
      </div>
    </form>
  </body>
  <script src="login.js"></script>
  <script></script>
</html>
