<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script
        src="https://kit.fontawesome.com/3264d39625.js"
        crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="style.css" />
    <body>
        <div id="mainPageTop">
            <div id="mainLogo"><a href="/">이건 메인로고</a></div>
            <ul id="mainPageNav">
                <li><a href="/community_hub">COMMUNITY</a></li>
                <li><a href="/minigame">MINI GAME</a></li>
            </ul>
            <ul id="mainPageLogo">
                <li>
                    <a href="https://github.com/TeTedo/KeyboardWarrior.git"
                        ><img
                            class="mainPageLogo_githubLogo"
                            src="http://rajlab.org/icons/github_white.png"
                            alt="github"
                    /></a>
                </li>
                <li>
                    <a
                        href="https://www.notion.so/Keyboard-Warrior-888a144aa79f437e8f726910c42617a8"
                        ><img
                            class="mainPageLogo_notionLogo"
                            src="https://upload.wikimedia.org/wikipedia/commons/4/45/Notion_app_logo.png"
                            alt="notion"
                    /></a>
                </li>
            </ul>
        </div>
        <!-- 여기까지 탑 공통 부분 -->
        <div id="contents">
            <div id="contentsWrap">
                <div id="mainContent">
                    <div id="mainContentWrap">
                        <div class="mainPost" data-link="fifa">
                            <video autoplay muted loop preload="none">
                                <source
                                    src="../videos/fifa.mp4"
                                    type="video/mp4"
                                />
                            </video>
                        </div>
                        <div class="mainPost" data-link="maple">
                            <video autoplay muted loop preload="none">
                                <source
                                    src="../videos/maple.mp4"
                                    type="video/mp4"
                                />
                            </video>
                        </div>
                        <div class="mainPost" data-link="lineage">
                            <video autoplay muted loop preload="none">
                                <source
                                    src="../videos/lineage.mp4"
                                    type="video/mp4"
                                />
                            </video>
                        </div>
                        <div
                            class="mainPost"
                            style="background-color: tomato"
                        ></div>
                        <div
                            class="mainPost"
                            style="background-color: blue"
                        ></div>
                        <div
                            class="mainPost"
                            style="background-color: green"
                        ></div>
                        <div
                            class="mainPost"
                            style="background-color: pink"
                        ></div>
                        <div
                            class="mainPost"
                            style="background-color: orange"
                        ></div>
                    </div>
                    <!-- 여기까지 동영상 슬라이드 -->
                    <div id="mainTitleWrap">
                        <div class="mainTitle">
                            <a data-link="fifa">FIFFA ONLINE 4</a>
                        </div>
                        <div class="mainTitle">
                            <a data-link="maple">MAPLE STORY</a>
                        </div>
                        <div class="mainTitle">
                            <a data-link="lineage">LINEAGE</a>
                        </div>
                        <div class="mainTitle"></div>
                        <div class="mainTitle"></div>
                        <div class="mainTitle"></div>
                    </div>
                    <!-- 여기까지 게임제목 슬라이드 -->
                </div>
                <!-- 여기까지 mainContents -->
                <div class="scrollHelper">
                    <div class="scrollHelper_contents">
                        <div class="scrollHelper_icon">
                            <i class="fa-solid fa-arrows-left-right"></i>
                        </div>
                        <div class="scrollHelper_text">SCROLL UP!</div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <!-- <script src="community_hub.js"></script> -->
    <script>
        const contentsWrap = document.getElementById("contentsWrap");
        const mainContent = document.getElementById("mainContent");
        const mainContentWrap = document.getElementById("mainContentWrap");
        const mainPosts = document.querySelectorAll(".mainPost");
        const mainTitles = document.querySelectorAll(".mainTitle a");
        const scrollHelper = document.querySelector(".scrollHelper");
        const scrollHelperText = document.querySelector(".scrollHelper_text");
        const scrollHelperIcon = document.querySelector(".scrollHelper_icon");
        const body = document.querySelector("body");

        // 슬라이드 이벤트
        let move = 0;
        let isOnScroll = true;
        contentsWrap.onwheel = e => slide(e);
        function slide(e) {
            offAnimation(); // 스크롤핼퍼 끄기
            contentsWrap.onwheel = null;
            const maxScroll =
                mainContentWrap.offsetWidth - mainContent.offsetWidth + 2;
            if (isOnScroll) {
                isOnScroll = false;
                setTimeout(
                    () => (
                        (isOnScroll = true),
                        (contentsWrap.onwheel = e => slide(e))
                    ),
                    500
                );
                move += e.wheelDelta < 0 ? 485 : -485;
                move = move < 0 ? maxScroll : move;
                move = move > maxScroll ? 0 : move;
                mainContent.scrollTo({ left: move, behavior: "smooth" });
            } else if (!isOnScroll) {
                return;
            }
        }

        // 비디오 슬라이드 재생 중단 기능
        function controlVideo(e) {
            mainPosts.forEach(post => {
                if (
                    post.getBoundingClientRect().left -
                        mainContent.getBoundingClientRect().left >=
                        30 &&
                    post.getBoundingClientRect().left -
                        mainContent.getBoundingClientRect().left <=
                        520
                ) {
                    if (post.querySelector("video")) {
                        post.querySelector("video").play();
                    }
                } else {
                    if (post.querySelector("video")) {
                        post.querySelector("video").pause();
                    }
                }
            });
        }
        function debounce(func, wait = 20, immediate = true) {
            var timeout;
            return function () {
                var context = this,
                    args = arguments;
                var later = function () {
                    timeout = null;
                    if (!immediate) func.apply(context, args);
                };
                var callNow = immediate && !timeout;
                clearTimeout(timeout);
                timeout = setTimeout(later, wait); //얘가 시간지나면 timeout을 0(false)로 만들어줌
                if (callNow) func.apply(context, args);
            };
        }
        mainContent.addEventListener(
            "scroll",
            debounce(controlVideo, 20, false)
        );

        // 게임제목 클릭시 커뮤니티로 이동
        mainTitles.forEach(el => {
            const title = el.innerText;
            el.onclick = () => {
                location.href = `/community/${el.dataset.link}`;
            };
        });
        // 포스트 클릭시 커뮤니티로 이동
        mainPosts.forEach(post => {
            post.onclick = () => {
                location.href = `/community/${post.dataset.link}`;
            };
        });

        // 스크롤헬퍼 이벤트
        function offAnimation() {
            scrollHelper.classList.remove("active");
            scrollHelperText.classList.remove("active");
            scrollHelperIcon.classList.remove("active");
        } // 이거 스크롤기능에도 넣어줘야함(스크롤하면 꺼지게)
        function onAnimation() {
            body.classList.add("block"); // 작은화면에서 슬라이드할때 윈도우 스크롤 막기용
            scrollHelper.classList.add("active");
            scrollHelperText.classList.add("active");
            scrollHelperIcon.classList.add("active");
        }
        contentsWrap.onmouseenter = () => onAnimation();
        // contentsWrap.onmousemove = () => onAnimation();
        contentsWrap.onmouseleave = () => {
            body.classList.remove("block");
            offAnimation();
        };
        contentsWrap.onclick = () => offAnimation();
    </script>
</html>
