<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://kit.fontawesome.com/3264d39625.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
  </head>
  <link rel="stylesheet" href="style.css" />
  <body>
    <div id="mainPageTop">
      <div id="mainLogo"><a href="/">이건 메인로고</a></div>
      <ul id="mainPageNav">
        <li><a href="/community_hub">COMMUNITY</a></li>
        <li><a href="/minigame">MINI GAME</a></li>
      </ul>
      <ul id="mainPageSign">
        <li><a href="/join">회원가입</a></li>
        <li><a href="/login">로그인</a></li>
      </ul>
      <ul id="mainPageLogo">
        <li>
          <a href="https://github.com/TeTedo/KeyboardWarrior.git"
            ><img
              class="mainPageLogo_githubLogo"
              src="http://rajlab.org/icons/github_white.png"
              alt="github"
          /></a>
        </li>
        <li>
          <a
            href="https://www.notion.so/Keyboard-Warrior-888a144aa79f437e8f726910c42617a8"
            ><img
              class="mainPageLogo_notionLogo"
              src="https://upload.wikimedia.org/wikipedia/commons/4/45/Notion_app_logo.png"
              alt="notion"
          /></a>
        </li>
      </ul>
    </div>

    <!-- <div id="mainPageSearch">
      <div id="mainPageSearch_whole">
        <input type="text" id="mainPageSearch_searchBar" />
        <span>검색</span>
      </div>
    </div> -->
    <!-- 여기까지 탑 공통 부분 -->

    <!-- 사이드바 -->
    <div id="sideBar">
      <div id="sideBar_top">
        <div id="sideBar_top_up">
          <ul>
            <li>팔로워</li>
            <li>123</li>
          </ul>
          <ul>
            <li>팔로잉</li>
            <li>111</li>
          </ul>
        </div>
        <div id="sideBar_top_down">
          <div id="sideBar_top_down_left">
            <div>아이디</div>
            <div>닉네임</div>
          </div>
          <div id="sideBar_top_down_right">
            <div>
              <a href=""><i class="fa-solid fa-bell"></i></a>
              <a href=""><i class="fa-solid fa-comments"></i></a>
              <a href=""><i class="fa-solid fa-right-from-bracket"></i></a>
            </div>
            <a href="/posting">글쓰기</a>
          </div>
        </div>
        <div id="sideBar_top_profileImg"></div>
      </div>
    </div>

    <!-- 포스팅 시작 -->
    <div id="mainContent">
      <div id="mainContentWrap">
        <div class="mainPost">
          <div id="mainPost_top">
            <div id="mainPost_top_profileimg">
              <img src="./images/profileimg.jpg" alt="" />
            </div>
            <ul id="mainPost_top_button">
              <li>
                <i class="fa-solid fa-heart"></i
                ><i class="fa-solid fa-heart-circle-check"></i>
              </li>
              <li><i class="fa-solid fa-comments"></i></li>
            </ul>
          </div>
          <div id="mainPost_middle">
            <div id="mainPost_middle_img">
              <img src="./images/Example.jpeg" alt="" />
            </div>
            <div id="mainPost_middle_text"></div>
          </div>
          <ul id="mainPost_bottom">
            <li id="mainPost_bottom_recomment">
              <span>아이디</span>
              <span>여기서부터 댓글</span>
            </li>
          </ul>
        </div>

        <!-- 포스팅 1개끝 -->

        <div class="mainPost">
          <div id="mainPost_top"></div>
          <div id="mainPost_middle"></div>
          <div id="mainPost_bottom"></div>
        </div>
        <div class="mainPost">
          <div id="mainPost_top"></div>
          <div id="mainPost_middle"></div>
          <div id="mainPost_bottom"></div>
        </div>
        <div class="mainPost">
          <div id="mainPost_top"></div>
          <div id="mainPost_middle"></div>
          <div id="mainPost_bottom"></div>
        </div>
        <div class="mainPost">
          <div id="mainPost_top"></div>
          <div id="mainPost_middle"></div>
          <div id="mainPost_bottom"></div>
        </div>
        <div class="mainPost">
          <div id="mainPost_top"></div>
          <div id="mainPost_middle"></div>
          <div id="mainPost_bottom"></div>
        </div>
        <div class="mainPost">
          <div id="mainPost_top"></div>
          <div id="mainPost_middle"></div>
          <div id="mainPost_bottom"></div>
        </div>
        <div class="mainPost">
          <div id="mainPost_top"></div>
          <div id="mainPost_middle"></div>
          <div id="mainPost_bottom"></div>
        </div>
        <div class="mainPost">
          <div id="mainPost_top"></div>
          <div id="mainPost_middle"></div>
          <div id="mainPost_bottom"></div>
        </div>
      </div>
    </div>
  </body>
  <script src="./mainLogged.js"></script>
</html>
