* {
  padding: 0;
  margin: 0;
}

#mainPageTop {
  background-color: black;
  width: 100%;
  height: 150px;
  display: flex;
  color: white;
  position: relative;
  justify-content: space-between;
}

#mainPageTop > div {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#mainPageTop > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#mainPageTop > ul > li {
  list-style: none;
}
#mainPageNav {
  width: 30%;
  display: flex;
}
#mainPageSign {
  width: 10%;
}
#mainPageSign > li > a,
#mainPageNav > li > a,
#mainLogo > a {
  text-decoration: none;
  color: white;
}
#mainPageLogo {
  width: 5%;
}
.mainPageLogo_notionLogo,
.mainPageLogo_githubLogo {
  width: 30px;
}
#mainPageSearch {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
#mainPageSearch_whole {
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#mainPageSearch_searchBar {
  height: 50px;
  width: 90%;
  font-size: 30px;
  padding: 5px;
}
/* 여기까지 공통 부분 */

/* 사이드바 */
#sideBar {
  width: 400px;
  height: 750px;
  background-color: black;

  position: absolute;
  z-index: 999;
  overflow-y: scroll;
}

#sideBar #sideBar_top {
  width: 100%;
  height: 200px;
  background-color: beige;
  position: relative;
}

#sideBar_top_up {
  display: flex;
  width: 100%;
  height: 50%;
}
#sideBar_top_up > ul {
  transform: translateX(150px);
  margin: 30px;
  font-size: 20px;
  font-weight: bold;
}
#sideBar_top_up > ul > li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
#sideBar_top_down {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#sideBar_top_profileImg {
  position: absolute;
  top: 20px;
  left: 50px;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 50%;
}
#sideBar_top_down_left {
  width: 100%;
  height: 50%;
}
#sideBar_top_down_left > div:nth-child(1) {
  font-size: 13px;
  text-align: center;
}
#sideBar_top_down_left > div:nth-child(2) {
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}
#sideBar_top_down_right {
  width: 100%;
  height: 100%;
}
#sideBar_top_down_right > div {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 30px;
}
#sideBar_top_down_right > div > a {
  color: black;
}
#sideBar_top_down_right > a {
  display: inline-block;
  box-sizing: border-box;
  width: 150px;
  height: 30px;
  text-decoration: none;
  color: black;
  font-size: 20px;
  border: 1px solid black;
  text-align: center;
  transform: translate(10px, 20px);
  border-radius: 10px;
}
/* 포스팅 */
#mainContent {
  width: 1000px;
  height: 500px;
  background-color: black;
  margin: auto;
  display: flex;
  border: 1px solid;
  overflow-x: scroll;
  overflow-y: hidden;
  position: relative;
  margin-top: 50px;
}
#mainContent::-webkit-scrollbar {
  display: none;
}
#mainContentWrap {
  width: max-content;
  height: 100%;
  display: flex;
  position: relative;
}
.mainPost {
  width: 290px;
  height: 450px;
  background-color: white;
  margin: 30px 20px;
}
#mainPost_top {
  width: 290px;
  height: 100px;
  display: flex;
  border: 1px solid;
}

#mainPost_top_profileimg > img {
  border-radius: 50%;
  width: 100px;
}
#mainPost_top_profileimg > img:hover {
  width: 100%;
}
#mainPost_top_button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-size: 50px;
}
#mainPost_top_button > li {
  list-style: none;
}
#mainPost_top_button > li:nth-child(1) > i:nth-child(2) {
  display: none;
}
#mainPost_middle {
  width: 290px;
  height: 200px;
  border: 1px solid;
}
#mainPost_middle_img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#mainPost_middle_img > img {
  width: 280px;
  height: 190px;
}
#mainPost_bottom {
  width: 290px;
  height: 150px;
}
#mainPost_bottom_recomment {
  width: 290px;
}
#mainPost_bottom_recomment > span {
  margin: 10px;
}
/* middle size */
@media screen and (max-width: 768px) {
}

/* small size */
@media screen and (max-width: 425px) {
}
