<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <link rel="stylesheet" href="style.css" />
    <body>
        <div id="mainPageTop">
            <div id="mainLogo"><a href="/">이건 메인로고</a></div>
            <ul id="mainPageNav">
                <li><a href="/community_hub">COMMUNITY</a></li>
                <li><a href="/minigame">MINI GAME</a></li>
            </ul>
            <ul id="mainPageSign">
                <li><a href="/join">회원가입</a></li>
                <li><a href="/login">로그인</a></li>
            </ul>
            <ul id="mainPageLogo">
                <li>
                    <a href="https://github.com/TeTedo/KeyboardWarrior.git"
                        ><img
                            class="mainPageLogo_githubLogo"
                            src="http://rajlab.org/icons/github_white.png"
                            alt="github"
                    /></a>
                </li>
                <li>
                    <a
                        href="https://www.notion.so/Keyboard-Warrior-888a144aa79f437e8f726910c42617a8"
                        ><img
                            class="mainPageLogo_notionLogo"
                            src="https://upload.wikimedia.org/wikipedia/commons/4/45/Notion_app_logo.png"
                            alt="notion"
                    /></a>
                </li>
            </ul>
        </div>

        <div id="mainPageSearch">
            <div id="mainPageSearch_whole">
                <input type="text" id="mainPageSearch_searchBar" />
                <span>검색</span>
            </div>
        </div>
        <!-- 여기까지가 공통 탑부분 -->
    </body>
</html>
