* {
  padding: 0;
  margin: 0;
}

#mainPageTop {
  background-color: black;
  width: 100%;
  height: 150px;
  display: flex;
  color: white;
  position: relative;
  justify-content: space-between;
}

#mainPageTop > div {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#mainPageTop > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#mainPageTop > ul > li {
  list-style: none;
}
#mainPageNav {
  width: 30%;
  display: flex;
}
#mainPageSign {
  width: 10%;
}
#mainPageSign > li > a,
#mainPageNav > li > a,
#mainLogo > a {
  text-decoration: none;
  color: white;
}
#mainPageLogo {
  width: 5%;
}
.mainPageLogo_notionLogo,
.mainPageLogo_githubLogo {
  width: 30px;
}
/* 여기까지 공통부분 */

/* 사이드바 */
#sideBar {
  width: 400px;
  height: 750px;
  background-color: black;

  position: absolute;
  z-index: 999;
  overflow: auto;
  transition: 1s linear;
}

#sideBar #sideBar_top {
  width: 100%;
  height: 200px;
  background-color: beige;
  position: relative;
}
@keyframes sideBarAnimation {
  0% {
    transform: translate(20px);
  }
  50% {
    transform: translate(0px);
  }
  100% {
    transform: translate(20px);
  }
}
#sideBar_top_sideBarBtn {
  position: absolute;
  right: 30px;
  font-size: 25px;
  animation: sideBarAnimation 1s linear infinite;
  display: flex;
}
.fa-arrow-left-long {
  cursor: pointer;
  display: block;
}
.sideBarOpenBtn {
  display: flex;
}
.fa-arrow-right-long {
  cursor: pointer;
  font-size: 25px;
  display: none;
  animation: sideBarAnimation 1s linear infinite;
}
#sideBar_top_up {
  display: flex;
  width: 100%;
  height: 50%;
}
#sideBar_top_up > ul {
  transform: translateX(150px);
  margin: 30px;
  font-size: 20px;
  font-weight: bold;
}
#sideBar_top_up > ul > li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
#sideBar_top_down {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#sideBar_top_profileImg {
  position: absolute;
  top: 20px;
  left: 50px;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 50%;
}
#sideBar_top_profileImg > img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
#sideBar_top_down_left {
  width: 100%;
  height: 50%;
}
#sideBar_top_down_left > div:nth-child(1) {
  font-size: 13px;
  text-align: center;
}
#sideBar_top_down_left > div:nth-child(2) {
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}
#sideBar_top_down_right {
  width: 100%;
  height: 100%;
}
#sideBar_top_down_right > div {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 30px;
}
#sideBar_top_down_right > div > a {
  color: black;
}
#sideBar_top_down_right > a {
  display: inline-block;
  box-sizing: border-box;
  width: 150px;
  height: 30px;
  text-decoration: none;
  color: black;
  font-size: 20px;
  border: 1px solid black;
  text-align: center;
  transform: translate(10px, 20px);
  border-radius: 10px;
}
/* 사이드바 끝 */
/* 포스팅 부분 */
#posting {
  width: 1000px;
  height: 500px;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
}
#posting_left {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  overflow-x: scroll;
  overflow-y: hidden;
  position: relative;
}
#posting_left::-webkit-scrollbar {
  display: none;
}
#posting_left_img {
  display: flex;
  position: absolute;
  left: 0;
}
/* 8.25 img css 추가 */
#posting_left_img > img {
  width: 500px;
  height: 500px;
}
#posting_right {
  width: 100%;
  height: 100%;
}

#posting_right > div:nth-child(1) {
  width: 100%;
  height: 350px;
  padding: 10px;
  font-size: 20px;
  box-sizing: border-box;
}
/* 8.25 이미지  추가*/
#posting_right_imagePreview {
  width: 100%;
  height: 50px;
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#posting_right_bottom {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* #posting_right_bottom_uploadImg {
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  } */

/* 새로 추가부분 */
#posting_right_bottom_postingBtn {
  width: 400px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}
#posting_right_bottom_postingBtn > div {
  width: 50%;
  display: flex;
  justify-content: space-around;
}
.fa-heart {
  cursor: pointer;
}
@keyframes likeMotion {
  0% {
  }
  50% {
    text-shadow: 0 0 10px red, 0 0 20px red, 0 0 40px red, 0 0 80px red,
      0 0 120px red, 0 0 240px red;
  }
  70% {
    color: red;
  }
  100% {
    color: red;
  }
}
.liked {
  animation: likeMotion 2s linear;
  animation-fill-mode: forwards;
}
#posting_right_bottom_postingBtn div:nth-child(2) {
  cursor: pointer;
}
#posts {
  position: absolute;
  width: 1000px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
}
#posting_right_bottom_postingBtn {
  font-size: 30px;
}
/* userInfo 부분 */
#posts_userInfo {
  width: 1000px;
  height: 150px;
  border: 1px solid black;
  display: flex;
}
#posts_userInfo_left {
  width: 700px;
  display: flex;
  align-items: center;
}
#posts_userInfo_left_profileImg {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#posts_userInfo_left_profileImg > img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid black;
}
#posts_userInfo_left_nickName {
  font-size: 30px;
  font-weight: bold;
}
#posts_userInfo_left_follow {
  margin-top: 10px;
  font-weight: bold;
}

#posts_userInfo_right {
  width: 300px;
  display: flex;
  justify-content: space-around;
  font-size: 50px;
  align-items: center;
}
#posts_userInfo_right > i {
  cursor: pointer;
}

#modifyBtn {
  font-weight: bold;
  font-size: 50px;
  background-color: black;
  color: white;
  border-radius: 10px;
  width: max-content;
  display: none;
  cursor: pointer;
}
/* userInfo 부분 끝 */
/* 댓글창 */
.posts_comment {
  width: 1000px;
  max-height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
  display: none;
}
.toggle_show {
  display: block;
}

.posts_comment_recomment {
  width: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
}

.posts_comment_recomment img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
}
.posts_comment_recomment input {
  width: 880px;
  height: 20px;
  font-size: 15px;
  padding: 3px;
}

.posts_comment_recomment button {
  margin-left: 5px;
  width: 40px;
  height: 30px;
}
.posts_comment_recommentZone {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 10px 10px;
  position: relative;
}
.posts_comment_recommentZone img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
}
.posts_comment_recommentZone div {
  width: 880px;
  height: 30px;
  font-size: 15px;
  display: flex;
  align-items: center;
}
.posts_comment_recommentZone span:first-child {
  font-weight: bold;
  font-size: 20px;
}

/* 댓글 삭제 */
.fa-trash-can {
  cursor: pointer;
  display: none;
}
/* 댓글창끝 */
/* middle size */
@media screen and (max-width: 768px) {
}

/* small size */
@media screen and (max-width: 425px) {
}
